<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>

</head>
<body>
    <th:block th:fragment="pagination">
        <div class="col-6 offset-4 pagination_wrapper">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <!--Previous page-->
                    <li th:classappend="${page &lt;= 1}? 'disabled'">
                        <a class="btn" th:href="@{|?page=${page - 1}|}">
                            <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
                        </a>
                    </li>

                    <!--Before Current page-->
                    <li th:if="${page} &gt; 1">
                        <a class="btn" th:href="@{|?page=1|}" th:text="1"></a>
                    </li>
                    <li class="disabled" th:if="${page-3} &gt; 1">
                        <a href="#" th:text="'...'"></a>
                    </li>
                    <li th:if="${page-2} &gt; 1">
                        <a class="btn" th:href="@{|?page=${page-2}|}" th:text="${page-2}"></a>
                    </li>
                    <li th:if="${page-1} &gt; 1">
                        <a class="btn" th:href="@{|?page=${page-1}|}" th:text="${page-1}"></a>
                    </li>

                    <!--current page-->
                    <li class="active">
                        <a th:href="@{|?page=${page}|}" th:text="${page}"></a>
                    </li>

                    <!--After Current page-->
                    <li th:if="${page+1} &lt; ${totalPages}">
                        <a class="btn" th:href="@{|?page=${page+1}|}" th:text="${page+1}"></a>
                    </li>
                    <li th:if="${page+2} &lt; ${totalPages}">
                        <a class="btn" th:href="@{|?page=${page+2}|}" th:text="${page+2}"></a>
                    </li>
                    <li class="disabled" th:if="${page+3} &lt; ${totalPages}">
                        <a href="#" th:text="'...'"></a>
                    </li>
                    <li th:if="${page} &lt; ${totalPages}">
                        <a class="btn" th:href="@{|?page=${totalPages}|}" th:text="${totalPages}"></a>
                    </li>

                    <!--Next Page-->
                    <li th:classappend="${page &gt;= totalPages} ? 'disabled'">
                        <a class="btn" th:href="@{|?page=${page + 1}|}">
                            <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </th:block>
</body>
</html>