.caption {
    text-align: center;
}

#login_form {
    height: 250px;
    width: 40%;
    min-width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1100px;
    padding: 0 55px;
    min-height: 250px;
    box-shadow: white 0px 0px 20px 1px;
    background: #2B3E50;
}

#registration_form {
    height: 350px;
    width: 40%;
    min-width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 55px;
    min-height: 250px;
    box-shadow: white 0px 0px 20px 1px;
    background: #2B3E50;
}

#inputUsername {
    height: 40px;
}

#inputPassword {
    margin-top: 5px;
    height: 40px;
}

#inputEmail {
    margin-top: 5px;
    height: 40px;
}

#inputConfirmPassword {
    margin-top: 5px;
    height: 40px;
}

#login_button {
    position: relative;
    background: #4E5D6C;
    top: 5px;
    height: 25px;
    width: 100%;
    border: 0;
}

#login_button:hover {
    box-shadow: white 0px 0px 10px 2px;
    background: #DF691A;
}

.pass_icon {
    width: 15px;
}
