<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Chat</title>
    <link rel="stylesheet" th:href="@{/css/chat.css}" type="text/css"/>
</head>

<body>
<div layout:fragment="content">
    <noscript>
        <h2 th:text="#{chat.form.error.js}"></h2>
    </noscript>

    <div id="username-page">
        <div class="username-page-container">
            <h1 class="title" th:text="#{chat.form.input.alias}"></h1>

            <form id="usernameForm" name="usernameForm">
                <div class="form-group">
                    <input th:required="required_field" type="text" id="name" th:placeholder="#{chat.form.input.alias}"
                           autocomplete="off" class="form-control"/>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default" th:text="#{chat.form.button.start.chatting}"></button>
                </div>
            </form>
        </div>
    </div>

    <div id="chat-page" class="hidden">
        <div class="chat-container">
            <div class="chat-header">
                <h2 th:text="#{chat.form.header}"></h2>
            </div>
            <div class="connecting" th:text="#{chat.form.connect}"></div>
            <ul id="messageArea"></ul>
            <form id="messageForm" name="messageForm">
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" id="message" th:placeholder="#{chat.form.type.message}" autocomplete="off"
                               class="form-control"/>
                        <button id="chat_page_button" type="submit" class="btn btn-default" th:text="#{chat.form.button.send}"></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script th:src="@{/js/ws.js}"></script>
    <script th:src="@{/js/sockjs.min.js}"></script>
    <script th:src="@{/js/stomp.min.js}"></script>
</div>
</body>
</html>